@charset "uft-8";

* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
  position: relative;
}
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  height: 120px;
}
header a {
  color: #fff;
}
header .headerwrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1660px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-logo {
  width: 135px;
  height: 40px;
}
header .top-logo svg * {
  scale: 0.6;
}
header .top-logo path:last-of-type {
  fill: red;
}
header .top-logo path,
header .top-logo rect {
  fill: #fff;
}
header nav {
  width: 40%;
  min-width: 400px;
  margin-right: 30%;
}
header nav .gnb-1depth {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
header nav .gnb-1depth > li {
  position: relative;
}
header nav .gnb-1depth > li > a {
  line-height: 80px;
  font-weight: 600;
}
header nav .lnb-2depth {
  display: none;
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(233, 39, 39);
  padding: 20px 0;
  border-radius: 10px;
}
header nav .lnb-2depth > li {
  text-align: center;
  line-height: 30px;
}
header nav .gnb-1depth > li:hover > ul {
  display: block;
}
header .top-right {
  position: relative;
  display: flex;
  gap: 60px;
  align-items: center;
  height: 100%;
  right: 0;
}
header .top-right > div {
  cursor: pointer;
}
header .right-search span {
  font-size: 28px;
  color: #fff;
}
header .right-menu i {
  position: relative;
  display: block;
  width: 40px;
  height: 2px;
  margin: 6px 0;
  background: #fff;
}
header .right-menu i:first-child {
  background: red;
}
.snb {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100vh;
}
.snb.on {
  visibility: visible;
  opacity: 1;
}
.snb::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: all 0.3s;
}
.snb.on::before {
  opacity: 1;
}
.snb .bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0%;
  backdrop-filter: blur(10px);
  /* filter: blur(10px); */
}
.snb.on .bg {
  transition: all 0.6s;
  height: 100%;
}
.snb .snb-1depth {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
}
.snb .snb-1depth a {
  display: block;
  overflow: hidden;
}
.snb .snb-1depth a span {
  display: inline-block;
  transform: translateY(100%);
}
.snb.on .snb-1depth a span {
  transition: all 0.6s 0.3s;
  transform: translateY(0%);
}
.snb .snb-1depth > li > a span {
  font-size: 30px;
  font-weight: 800;
}
.snb .snb-2depth {
  margin-top: 70px;
}
.snb .snb-2depth > li > a span {
  font-size: 17px;
  line-height: 40px;
  font-weight: 600;
}
/*  */
header .top-search {
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  background: #ddd;
  overflow: hidden;
  transition: height 0.6s;
}
header .top-search .close {
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 30px;
  width: 50px;
  height: 50px;
}
header .top-search .close i {
  display: inline-block;
  position: absolute;
  background: #000;
  width: 30px;
  height: 3px;
  left: 50%;
  top: 50%;
}
header .top-search .close i:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .top-search .close i:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .top-search .topbarwrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  padding: 80px 0;
}
header .top-search form {
  position: relative;
}
header .top-search form input {
  width: 100%;
  height: 50px;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 700;
  border-bottom: 2px solid red;
}
header .top-search form input:focus-visible {
  outline: none;
}
header .top-search form span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
header .top-search .topbarwrap > div > ul {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
header .top-search .topbarwrap > div > ul li:first-child {
  margin-right: 20px;
}
header .top-search .topbarwrap > div > ul li input[type="button"] {
  display: block;
  padding: 5px;
  color: #333;
}
