@charset "utf-8";
@font-face {
  font-family: solid;
  src: url(../../webfonts/fa-solid-900.woff2) format("woff2");
}
@font-face {
  font-family: regular;
  src: url(../../webfonts/fa-regular-400.woff2) format("woff2");
}

/* 메인 */
:root {
  --main-red: #f0504a;
  --main-red2: #f04e4c;
}
.main-vis {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main-vis .white-bg {
  background: #fff;
  width: 100%;
  height: 65%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
.main-vis .mySwiper1 {
  width: 100%;
  height: 100%;
}
.main-vis div[class^="main-con"] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
}
.main-vis .vis {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
}
.main-vis .vis img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*  */
.main-vis .textbox {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.main-vis .text {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}
.main-vis .text span {
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
  font-size: 250px;
  /* color: #fff; */
  color: #000;
  opacity: 0.1;
  font-weight: 900;
}
.main-vis .text p {
  font-size: 20px;
  font-weight: 700;
  color: aliceblue;
  transition: all 2s;
}
.main-vis .text p:first-of-type {
  color: red;
  margin-bottom: 20px;
}
.main-vis .text p:nth-of-type(2) {
  font-size: 70px;
  color: #000;
}
.main-vis .buttonbox {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  bottom: 10%;
}
.main-vis .button {
  display: flex;
  max-width: 1660px;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
}
.main-vis .button div[class^="swiper-button"] {
  position: static;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #fff;
  background: transparent;
  margin-top: 0;
}
.main-vis .button div[class^="swiper-button"]:after {
  font-size: 24px;
  color: #fff;
}
/*  */
.main-sec01 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.main-sec01 .con {
  width: 1520px;
  height: 100%;
  margin: 0 auto;
}
.main-sec01 .con .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-sec01 .left {
  width: 35%;
}
.main-sec01 .left h4 {
  color: var(--main-red);
  font-size: 20px;
  margin-bottom: 25px;
  font-weight: 700;
}
.main-sec01 .left h2 {
  color: #222;
  font-size: 40px;
  margin-bottom: 32px;
}
.main-sec01 .left p {
  color: #222;
  font-size: 20px;
}
.main-sec01 .left a {
  margin-top: 30px;
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #444;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.main-sec01 .left a i {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #222;
}
.main-sec01 .right {
  width: 65%;
  margin-right: -15%;
}
.main-sec01 .right .swiper {
  overflow: visible;
}
.main-sec01 .right .swiper .swiper-wrapper {
  align-items: center;
}
.main-sec01 .right .swiper .swiper-slide {
  display: flex;
  transition: all 0.6s;
  /* transition: opacity 0.6s; */
}
.main-sec01 .right .swiper .swiper-slide .card {
  position: relative;
  /* width: 400px;
  height: 560px; */
  width: 300px;
  height: 420px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  transition: all 0.4s;
}
.main-sec01 .right .swiper .swiper-slide .card::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--main-red2);
  opacity: 0;
  z-index: -1;
  border-radius: 30px;
  transition: all 0.4s;
}
.main-sec01 .right .swiper .swiper-slide-active .card {
  width: 400px;
  height: 560px;
  transform: translateX(-50%);
}
.main-sec01 .right .swiper .swiper-slide-active .card::before {
  opacity: 1;
  box-shadow: none;
}
.main-sec01 .right .swiper .swiper-slide .card .icon {
  position: relative;
  width: 100px;
  height: 100px;
  transition: all 0.3s;
}
.main-sec01 .right .swiper .swiper-slide-active .card .icon {
  position: relative;
  width: 160px;
  height: 160px;
}
.main-sec01 .right .swiper .swiper-slide .card .icon::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #de4543;
  transform: translate(10px, 10px);
  opacity: 0;
}
.main-sec01 .right .swiper .swiper-slide-active .card .icon::before {
  opacity: 1;
  transition: all 0.6s;
}
.main-sec01 .right .swiper .swiper-slide .card .icon svg {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 50%;
  transition: all 0.6s;
}
.main-sec01 .right .swiper .swiper-slide-active .card .icon svg {
  padding: 30px;
  background: #ff5855;
}
.main-sec01 .right .swiper .swiper-slide .card .icon svg g * {
  stroke: #666;
}
.main-sec01 .right .swiper .swiper-slide-active .card .icon svg g * {
  stroke: #fff;
}

.main-sec01 .right .swiper .swiper-slide .card .textbox {
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 100%;
}
.main-sec01 .right .swiper .swiper-slide .card .textbox h4 {
  font-size: 30px;
  transition: all 0.3s;
}
.main-sec01 .right .swiper .swiper-slide .card .textbox p {
  margin-top: 15px;
  font-size: 15px;
  width: calc(100% - 60px);
  /* white-space: nowrap; */
  /* display: none; */
  color: #fff;
  transition: all 0.3s;
}
.main-sec01 .right .swiper .swiper-slide-active .card .textbox h4 {
  color: #fff;
}
.main-sec01 .right .swiper .swiper-slide-active .card .textbox p {
  /* display: block; */
  opacity: 0.5;
}
.main-sec01 .right .swiper .swiper-slide .more > a > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-sec01 .right .swiper .swiper-slide .more > a > svg text {
  transform-origin: 50%;
  animation: moreAni 10s linear infinite;
}
.main-sec01 .right .swiper .swiper-slide .more > a > span {
  font-size: 60px;
}
@keyframes moreAni {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-sec01 .con .swiper-pagination {
  top: auto;
  bottom: 10%;
}
.main-banner {
  width: 100%;
  height: 200px;
  background: var(--main-red2);
}
.main-banner .wrap {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-banner .left h1 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.main-banner .left ul {
  display: flex;
  justify-content: space-between;
}
.main-banner .left ul li:first-child {
  font-size: 13px;
  opacity: 1;
  font-weight: 700;
}
.main-banner .left ul li {
  font-size: 12px;
  color: #fff;
  opacity: 0.5;
}
.main-banner .right {
  position: relative;
}
.main-banner .right input {
  width: 660px;
  height: 80px;
  padding: 0 100px 0 60px;
  box-sizing: border-box;
  border-radius: 40px;
  border: none;
  outline: none;
  font-size: 16px;
}
.main-banner .right button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  background: var(--main-red);
  border: none;
  cursor: pointer;
}
.main-banner .right span {
  font-size: 30px;
  color: #fff;
}
.main-sec02 {
  background: #fcf5f5;
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-sec02 .wrap {
  width: 1720px;
  margin: 0 auto;
  height: 100%;
  padding: 100px 0;
  box-sizing: border-box;
}
.main-sec02 .title {
  text-align: center;
}
.main-sec02 .title h4 {
  color: var(--main-red);
  font-size: 20px;
  margin-bottom: 25px;
}
.main-sec02 .title h2 {
  color: #222;
  font-size: 40px;
  margin-bottom: 32px;
}
.main-sec02 .title p {
  color: #222;
  font-size: 20px;
}
.main-sec02 .con {
  width: 100%;
  background: #fff;
  height: 560px;
  border-radius: 10px;
  margin-top: 65px;
}
.main-sec02 .con .sec02-tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.main-sec02 .con .sec02-tab > li {
  position: relative;
  padding: 30px 10px;
  box-sizing: border-box;
  transition: width 0.4s;
  width: 80px;
}
.main-sec02 .con .sec02-tab > li:not(.on) {
  flex-grow: 1;
  cursor: pointer;
}
.main-sec02 .con .sec02-tab > li:not(:last-child) {
  border-right: 1px solid #eee;
}
.main-sec02 .con .sec02-tab > li.on {
  width: 1120px;
}
.main-sec02 .con .sec02-tab > li > h4 {
  color: #222;
  text-align: center;
  font-size: 20px;
  transition: opacity 0.2s;
}
.main-sec02 .con .sec02-tab > li.on > h4 {
  opacity: 0;
}
.main-sec02 .con .sec02-tab > li > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #ddd;
  font-family: "solid";
  transition: top 0.4s;
}
.main-sec02 .con .sec02-tab > li.on > i {
  top: 60%;
}
.main-sec02 .con .sec02-tab .inner {
  width: 100%;
  height: 100%;
  opacity: 0;
}
.main-sec02 .con .sec02-tab li.on .inner {
  opacity: 1;
  transition: opacity 0.4s 0.4s;
}
.main-sec02 .con .sec02-tab .inner .title {
  position: relative;
  margin-top: 15px;
}
.main-sec02 .con .sec02-tab .inner .title h4 {
  color: #222;
  text-align: center;
  font-size: 30px;
}
.main-sec02 .con .sec02-tab .inner .title [class^="swiper-button"] {
  top: 0;
  bottom: auto;
  margin: 0;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #eee;
  transition: all 0.4s;
}
.main-sec02 .con .sec02-tab .inner .title [class^="swiper-button"]::after {
  font-size: 20px;
  color: #222;
  font-weight: 700;
  transition: all 0.4s;
}
.main-sec02 .con .sec02-tab .inner .title [class^="swiper-button"]:hover {
  background: var(--main-red);
  border-color: var(--main-red);
}
.main-sec02
  .con
  .sec02-tab
  .inner
  .title
  [class^="swiper-button"]:hover::after {
  color: #fff;
}
.main-sec02 .con .sec02-tab .inner .title .swiper-button-prev {
  left: 10px;
}
.main-sec02 .con .sec02-tab .inner .title .swiper-button-next {
  right: 10px;
}
.main-sec02 .con .sec02-tab .swiper {
  height: 80%;
  padding: 30px 10px;
  box-sizing: border-box;
}
.main-sec02 .con .sec02-tab .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.main-sec02 .con .sec02-tab .card {
  width: 100%;
  height: 100%;
  padding: 30px 30px 25px;
  box-sizing: border-box;
  box-shadow: 5px 5px 20px #0000000d;
  border-radius: 20px;
  background: #fff;
  transition: all 0.4s;
  cursor: pointer;
}
.main-sec02 .con .sec02-tab .card:hover {
  background: var(--main-red);
}
.main-sec02 .con .sec02-tab .card h4 {
  display: inline-block;
  color: #222;
  font-size: 18px;
  margin-bottom: 20px;
  transition: background-size 0.4s, color 0.4s;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 100% 100%;
  background-size: 0% 2px;
  background-repeat: no-repeat;
}
.main-sec02 .con .sec02-tab .card:hover h4 {
  color: #fff;
  background-size: 100% 2px;
  background-position: 0% 100%;
}
.main-sec02 .con .sec02-tab .card p {
  color: #666;
  font-size: 15px;
}
.main-sec02 .con .sec02-tab .inner .swiper-pagination {
  bottom: 35px;
}
.main-sec02 .con .sec02-tab .inner .swiper-pagination-bullet-active {
  background: var(--main-red2);
}
.main-sec03 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 120px);
}
.main-sec03 .reference {
  position: relative;
  width: 100%;
  height: calc(100% - 480px);
}
.main-sec03 .reference .wrap {
  width: 1520px;
  height: 100%;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
}
.main-sec03 .reference .left .title h4 {
  margin-bottom: 25px;
  color: var(--main-red);
  font-size: 20px;
}
.main-sec03 .reference .left .title h2 {
  margin-bottom: 32px;
  color: #222;
  font-size: 40px;
}
.main-sec03 .reference .left .title p {
  font-size: 15px;
  color: #222;
}
.main-sec03 .reference .left .sec03Banner-btn {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}
.main-sec03 .reference .left .sec03Banner-btn > div {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 0;
  border: 2px solid #555859;
  border-radius: 50%;
  left: auto;
  right: auto;
  opacity: 0.25;
  transition: all 0.6s;
}
.main-sec03 .reference .left .sec03Banner-btn > div::after {
  /* content: ""; */
  color: #555859;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.6s;
}
.main-sec03 .reference .left .sec03Banner-btn > div:hover {
  opacity: 1;
  border-color: var(--main-red);
  background: var(--main-red);
}
.main-sec03 .reference .left .sec03Banner-btn > div:hover::after {
  color: #fff;
}
.main-sec03 .reference .right {
  position: relative;
  width: 880px;
}
.main-sec03 .reference .right .banner {
  width: 100%;
  height: 100%;
}
.main-sec03 .reference .right .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main-sec03 .reference .right .swiper-wrapper {
  height: 100%;
}
.main-sec03 .reference .right .swiper-slide {
  padding: 10px;
  box-sizing: border-box;
  height: calc((100% - 30px) / 4) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-sec03 .reference .right .swiper-slide img {
  width: 100%;
}
.main-sec03 .contact {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 480px;
  background: url(../images/main_contact_bg.jpg) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-sec03 .contact .bg {
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
}
.main-sec03 .contact .wrap {
  width: 1520px;
}
.main-sec03 .contact .title {
  opacity: 0;
}
.main-sec03 .contact .title h2 {
  font-size: 20px;
  margin-bottom: 25px;
  color: var(--main-red);
}
.main-sec03 .contact .title h4 {
  font-size: 40px;
  margin-bottom: 32px;
  color: #fff;
}
.main-sec03 .contact .title button {
  width: 160px;
  height: 40px;
  padding: 0 20px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 900;
  outline: none;
  background: transparent;
  transition: all 0.4s;
}
.main-sec03 .contact .title button:hover {
  background: var(--main-red);
  border-color: var(--main-red);
}
